<% if user_signed_in? %>
<h1>Welcome</h1>
  <ul>
    <% @courses.each do |course| %>
      <section>
          <h3><%=course.title%></h3>
          <%=course.description%>
      </section><wbr>
    <% end %>
  </ul>
<% else %>
  <p>Please sign in to view the courses.</p>
<% end %>
